@import "../fonts.css";

.paper {
    width: 80vw;
    margin: auto;
}

.card {
    padding: .5% 2% .5% 2%;
}

.link {
    text-decoration: none;
}

.text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    color: black;
}

.text-summary {
    padding: 0 2% 1% 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: #3B3C36;
}

.text-year {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: #3B3C36;
}

.paper-about {
    width: 23vw;
    margin: auto;
}

.past-image {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.card-past {
    padding: 2% 2% 2% 2%;
    display: flex;
}

.card-text-div {
    padding-left: 10%;
    float: right;
}

