@import "../fonts.css";

.container-footer {
    background-color: #003057;
    height: 244px;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.grouping {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text-footer-title {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-anchor {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    color: whitesmoke;
    text-decoration: none;
}

.text-anchor:hover {
    cursor: pointer;
    opacity: 0.8;
}

.nav-logo {
    display: flex;
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }