@import "../fonts.css";

.container-footer {
    background-color: #003057;
    padding: 2.5% 5%;
}

.grouping {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text-footer-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.text-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
}

.text-anchor {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    color: whitesmoke;
    text-decoration: none;
}

.text-anchor:hover {
    cursor: pointer;
    opacity: 0.8;
}