.card {
    background-color: #003057;
    display: flex;
    max-width: 400vw;
    max-height:400vh;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 15px;
    padding:0px 10px 0px 10px;
    height: 400px;
}

.card-content {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap:10px;
    overflow-wrap: inherit;
}



.header {
    font-family: 'Roboto Slab', serif;
    color:white;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: center;
}

.content {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.button {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    background: #004B87;
    flex-direction: row;
    align-self: flex-end;
    
}

.button:hover {
    transition:  0.3s;
    transform:0.3s;
    background-color: #E0BB56;
}