.card {
    border-bottom: 5px solid #b3a369;
    margin: 15px;
}
.summary {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-style {
    border-radius: 10px;
    width: 20vw;
    height: 20vw;
    object-fit: "cover";
}