@import "./fonts.css";
.container {
    padding-top: 180px;
}
.people-container {
    padding: 1% 5% 1% 5%;
}

.header-about {
    font-family: 'Roboto Slab', serif;
    @media screen and (min-width: 600px) {
      font-size: 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 800px) {
      font-size: 1.75rem;
    }
    color: white;
    text-align: center;
}

.paragraph-about {
    font-family: 'Roboto', sans-serif;
    @media screen and (min-width: 600px) {
      font-size: 1.25rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
    color: white;
    text-align: center;
}

.emerging-tech-about {
    visibility: visible;
}

.web-about {
    visibility: visible;
}

.media-about {
    visibility: visible;
}

.app-about {
    visibility: visible;
}

.about-nav {
    text-align: center;
}

.text-controls {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    color: white;
}

.text-controls:hover {
    cursor: pointer;
    opacity: 0.8;
}

.about-nav-text {
  display: inline-block;
  font-size: 18px;
  font-family: 'Roboto Slab', sans-serif;
  color: #003057;
  padding: 17px 40px;
  background-color: white;
  border-radius: 150px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  min-width: 100px;
}

.about-nav-text:hover {
    background-color: #E0BB56;
    cursor: pointer;
    transition: background-color 200ms linear;
}

.navBG {
    display: flex;
    /* background-color: #1B3F66; */
    border-radius: 150px;
    width: 90%;
    height: 50%;
    top: 50px;
    margin: auto;
    justify-content: center;
}

.hex {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 256px;
    height: 221px; /* width * 0.866 */
    background: white;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }

  .hex-background {
    position: absolute;
    background-color: white; /*color of the main-background*/
    top: 2px; /* equal to border thickness */
    left: 2px; /* equal to border thickness */
    width: 256px; /* container height - (border thickness * 2) */
    height: 221px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }

  .hex img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  }

  .full-image {
    width: 60vw; 
    height: 60vh;
  }

  .grid-inner-about {
    padding: 0 2% 0 2%;
  }

  .center-text {
    text-align: center;
    justify-content: center;
  }

  .paper-about {
    justify-content: center;
    width: 95%;
    height: 95%;
  }

  .padding-bottom-about {
    padding-bottom: 5%;
  }

  .bottom-about {
    /* position: relative; */
    z-index: -10;
  }

  .about-full {
    width: 100vw;
    height: 80vh;
    max-width: 100%;
    object-fit: cover;
  }

  .padding-about {
    padding: 0% 5% 6% 5%;
  }

  .top-about {
    width: 100vw;
    height: 80vh;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    

    background-color: rgba(0, 0, 0, 0.3)
  }

  .a-c-full {
    background-color: #004B87;
    top: 120px;
  }

  .about-nav-past {
    text-align: center;
    height: 150px;
    width: 300px;
    margin: auto;
  }

  .learn-more {
    color: #E0BB56;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
  }
  
  .about-card {
    display: flex;
    padding: 20px 95px 33px 130px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 86px;
    background: var(--Primary-Blue, #003057);
  }

  .horizontal-line {
    width: 70%;
    height: 2px;
    margin: 0 auto;
    background: #FFF;
  }
