@import "./fonts.css";

.articleContainer {
    padding: 8% 2% 8% 2%;
    display: block;
}

.articleTitle {
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    padding: 0% 25% 0% 25%;
}

.articleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    justify-content: center;
}

.articleText {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    padding: 0% 25% 0% 25%;
}