@import "./fonts.css";

* {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #0779d7;
  --secondary-color: #789beb;
  --text-color: #ffffff;
}
/* .top-contact {
  width: 100vw;
  height: 80vw;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  

  background-color: rgba(0, 0, 0, 0.3)
} */

.contact-full {
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
}

.padding-bottom-contact {
  padding-bottom: 5%;
}
.bottom-contact {
  /* position: relative; */
  z-index: -10;
}

.container-contact {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004B87;
}

.heading-styles {
  font-family: 'Roboto Slab', serif;
  font-size: 4vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  background-color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: var(--text-color);
}

.button:hover {
  background-color: #003057;
  transform: scale(1.05);
}

.button-container {
  height: 500px;
}
.arrows {
  margin-top: 50px;
}

#info .info-section {
  background-color: #003057; /* Change to your desired background color */
  margin: 0px 150px 0px 150px;
  padding: 25px; /* Add padding or other styling as needed */
  /* Center-align the text */
}

#info {
  padding: 50px;
  background-color: #004B87;
  /* padding-bottom: 400px; */
  text-align: center;
}

h1 {
  color: var(--text-color);
}

p {
  color: var(--text-color);
  text-align: left;
}

#two {
  margin-top: 50px;
  font-weight: 1000;
}

#one {
  font-weight: 100;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(144, 199, 250);
}


body{
  background: #22232e;
}
.container{
  padding-bottom: 70px;
  display: flex;
  align-items: top;
  justify-content: center;
  /* min-height: 100vh; */
}
.container section{
  width: 600px;
  margin-top: -100px;
}
.container section details summary{
  padding: 15px;
  background: #e0ffff;
  color: #22232e;
  position: relative;
  list-style: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.container section details{
  margin: 15px;
}
.container section details p{
  font-size: 15px;
  padding: 10px;
  color: #333;
  background: #e0ffff;
}
.container section details summary span{
  font-size: 22px;
  color: #333;
  float: right;
}