@import "./fonts.css";

/* Scroll behavior */
* {
  scroll-behavior: smooth;
}

.pageStyles {
    color: #232129;
    padding: 96px;
    padding-top: 180px;
    font-family: -apple-system, Roboto, sans-serif, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .headingStyles {
    margin-top: 0;
    margin-bottom: 32px;
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
  }
  
  .headingAccentStyles {
    color: #663399;
  }
  
  .button {
    background: #fff;
    border-radius: 16px;
    padding: 16px 32px;
    width: 30vw;
    height: 1.5vw;
    margin: 1% auto;
    cursor: pointer;
    font-family: -apple-system, Roboto, sans-serif, serif;
    font-size: 1.7vw;
    color: #232129;
    text-decoration: none;
    text-align: center;
    border: 3px solid navy;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .labelStyle {
    font-family: Roboto;
    font-size: 1.7vw;
    margin-bottom: 1%;
  }
  
  .footerStyles {
    margin-top: auto;
    text-align: center;
    padding-bottom: 24px;
    margin-top: 16px;
  }
  