@import "./fonts.css";

.container-half {
    position: relative;
    height: 95vh;
    text-align: center;
}

.text-experience {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Roboto Slab', serif;
    font-size: 3vw;
    color: white;
}

.splash-experience {
}

.text-overlay {
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8)
}

.image-overlay {
    position: absolute;
    z-index: -10;
    bottom: 6vh;
    left: 5vw;
}