@import "./fonts.css";

.container-experiences-homepage {
    padding-top: calc(var(--navbar-scrolled-height) + 10vh);
    padding-bottom: 90px;
    background-color: #004B87;
}
.container-half {
    position: relative;
    height: 95vh;
    text-align: center;
}

.text-experience {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.7vw;
    color: white;
}


.text-overlay {
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8)
}

.image-overlay {
    width: 700px;
    height: 500px;
    position: absolute;
    z-index: -10;
}

.rotate {
    transform: rotate(30);
}
