@import "./fonts.css";

*{scroll-behavior: smooth;}
html, body {
    margin: 0px;
    padding: 0px;
} 

/* The Fullscreen images on the homepage */
.splash-image {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100vw;
    max-width: 100%;
    
    object-fit: cover;
    /* desktop */
    @media screen and (min-width: 600px) {
        height: 100vh;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        height: 85vh;
    } 
}


.top {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.8);
    /* desktop */
    @media screen and (min-width: 600px) {
        height: 80vh;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        height: 65vh;
    }
}

.top-text {
    text-align: center;
    vertical-align: middle;
    padding-top: 20vh;

    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    color: white;
}

.bottom {
    position: relative;
    z-index: -10;
}

.info {
    /* padding: 3% 0 2% 5%; */
    padding:0;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
}

.header {
    font-family: 'Roboto Slab', serif;
    /* desktop */
    @media screen and (min-width: 600px) {
        font-size: 3vw;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        font-size: 6vw;
    }
}

.image {
    /* desktop; ratio = 0.603 */
    @media screen and (min-width: 600px) {
        width: 580px;
        height: 350px;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        width: 90vw;
        height: 55vw;
    }
}

.paragraph {
    text-align: center;
    font-family: 'Roboto', sans-serif;

    font-size: 1.3vw;
    /* desktop */
    @media screen and (min-width: 600px) {
        font-size: 1.3vw;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        font-size: 1rem;
    }
}

.paragraph2 {
    font-family: 'Roboto', sans-serif;
    padding:0;
    /*position: absolute; /* taken out of the normal flow of the document */
    
    /*width: 100%; /* needs to be defined to keep the default block behavior */
    text-align: left;
    margin: 0; /* again, for perfect center */
    /* desktop */
    @media screen and (min-width: 800) {
        font-size: 1.3vw;
        top: 50%; /* moved down by 50% of the screen height */
        transform: translateY(100%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
    }

    /* mobile */
    @media screen and (max-width: 800) {
        font-size: 1rem;
    }
}

.card-text {
    font-family: 'Roboto', sans-serif;
    color: #003057;
    text-align: center;
    /* desktop */
    @media screen and (min-width: 600px) {
        font-size: 1.7vw;   
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        font-size: 0.9rem;
    }
}

.container-row{
    display: flex;
    padding:0;
}
  
.container-row .image{
    flex: 1;
}
  
.container-row .parag {
    flex: 2;
    padding: 0% 3% 0% 4%;
}


/* Taken from My Portfolio Site */
.arrows {
	width: 60px;
	height: 72px;
}

.arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 4s infinite;
	-webkit-animation: arrow 4s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


