@import "./fonts.css";

*{scroll-behavior: smooth;}
html, body {
    margin: 0px;
    padding: 0px;
} 

/* The Fullscreen images on the homepage */
.splash-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    max-width: 100%;
    
    object-fit: cover;
    /* desktop */
    @media screen and (min-width: 600px) {
        height: 100vh;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        height: 85vh;
    } 
}


.top {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.8);
    /* desktop */
    @media screen and (min-width: 600px) {
        height: 80vh;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        height: 65vh;
    }
}

.top-text {
    text-align: center;
    vertical-align: middle;
    padding-top: 20vh;

    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    color: white;
}

.bottom {
    position: relative;
    z-index: -10;
}

#learn-more-home {
    background-color: #004B87;
    padding-bottom: 7vh;
    height: 50vh;
    text-align: center;
}

#learn-more-home .learn-more-home-section {
    background-color: #003057; /* Change to your desired background color */
    /* margin: 0px 150px 0px 150px; */
    padding: 5vh; /* Add padding or other styling as needed */
    /* Center-align the text */
  }

.info {
    /* padding: 3% 0 2% 5%; */
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    max-height: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 65vh; /* CHANGED */
    overflow: inherit;

    /* mobile */
    @media screen and (max-width: 600px) {
        
        flex-direction: column;
    }
}

.main-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    /*gap:200px;*/
}


.info-wrapper {
    gap: 5%;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-evenly;
    overflow:inherit;

    
    /* desktop */
    @media screen and (min-width: 600vw) {
        flex-direction: row;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    
    
}

.header {
    font-family: 'Roboto Slab', serif;
    /* desktop */
    @media screen and (min-width: 600px) {
        font-size: 3vw;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        font-size: 6vw;
    }
}

.image {
    /* desktop; ratio = 0.603 
    this is the div for the image
    */
   
    /* mobile */
    @media screen and (max-width: 600px) {
        width: 90vw;
        height: 55vw;
    }
}

/* Attributes for the team pic image */
.teampic { 
    border-radius: 3%;
    height: 52vh;
    max-width: 100%;

    /* mobile */
    @media screen and (max-width: 600px) {
        width: 100%;
        height: 100%;
    }
    
}

.info-card {
    height: 40vh;
}


.paragraph {
    text-align: center;
    font-family: 'Roboto', sans-serif;

    font-size: 3vw;
    /* desktop */
    @media screen and (min-width: 600px) {
        font-size: 1.3vw;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        font-size: 1rem;
    }
}

.paragraph2 {
    font-family: 'Roboto', sans-serif;
    padding:0;
    /*position: absolute; /* taken out of the normal flow of the document */
    
    /*width: 100%; /* needs to be defined to keep the default block behavior */
    text-align: left;
    margin: 0; /* again, for perfect center */
    /* desktop */
    @media screen and (min-width: 800) {
        font-size: 1.3vw;
        top: 50%; /* moved down by 50% of the screen height */
        transform: translateY(100%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
    }

    /* mobile */
    @media screen and (max-width: 800) {
        font-size: 1rem;
    }
}

.card-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* desktop */
    @media screen and (min-width: 600px) {
        font-size: 1.7vw;   
        color: #003057;
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        font-size: 0.9rem;
        color: #FFFFFF;
    }
}

.container-row{
    display: flex;
    padding:0;
}
  
.container-row .image{
    flex: 1;
}
  
.container-row .parag {
    flex: 2;
    padding: 0% 3% 0% 4%;
}


/* Arrows on Header*/
.arrows {
	width: 7%;
	height: 80%;
	/*Need changes for mobile screen*/
}

.arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: .5%;	
	animation: arrow 4s infinite;
	-webkit-animation: arrow 4s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


