/* All stylings not in a css file as of Oct 2023 */

/* 404.js*/
.pageStyles {
    color: #232129;
    padding: 96px;
    font-family: "-apple-system, Roboto, sans-serif, serif";
}
.headingStyles {
    margin-top: 0;
    margin-bottom: 64;
    max-width: 320;
}

.paragraphStyles {
    margin-bottom: 48;
}
.codeStyles {
    color: #8A6534;
    padding: 4;
    background-color: #FFF4DB;
    font-size: 1.25rem;
    border-radius: 4,
}

/* pastmembers.js; NEEDS JS REWORKING */
.topPadding {
    padding: 10% 5% 10% 5%;
}

.articlePadding {
    padding: .5% .5% .5% .5%;
}

/* collection.js; NEEDS JS REWORKING */
.container {
    padding: 6% 5% 6% 5%;
    padding-top: 120;
    font-family: 'Roboto';
};

.collection_name {
    text-align: center;
    padding-top: 10;
    font-family: 'Roboto Slab, serif';
    color: #b3a369;
}

