:root {
    --tr: 0.25s;
    --navbar-top-height: 6rem;
    --logo-top-height: 7.5rem;
    --navbar-scrolled-height: 4rem;
    --logo-scrolled-height: 4.5rem;
  
    --color-techgold: #b3a369;
    --color-navyblue: #003057;
    --color-greymatter: #54585a;
    --color-pimile: #d6dbd4;
    --color-diploma: #f9f6e5;
    --color-buzzgold: #eaaa00;
  }
  
  html,
  body {
    font-family: "Segoe UI Variable Display", "Segoe UI", -apple-system, Roboto,
      sans-serif, serif;
    margin: 0;
    overflow-x: hidden;
  }
  
  /* Desktop classes will disappear at breakpoint
     and vice versa for mobile
  
     Currently set at 750px, but can change in the future
     */
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  @media (max-width: 750px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
  
  /* navbar stuff */
  .navbar-outer {
    z-index: 10;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
  
    transition: var(--tr);
    height: var(--navbar-top-height);
  
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .navbar-background {
    background: var(--color-navyblue);
  }
  
  .scrolled.navbar-outer {
    height: var(--navbar-scrolled-height);
    background: var(--color-navyblue);
  }
  
  .navbar-link {
    text-decoration: none;
    color: white; /* Change this to proper color in the future */
    font-size: 1.25rem;
  }
  
  .navbar-selected {
    font-weight: bold;
  }
  
  .nav-container {
    display: grid;
    width: 100%;
    transition: var(--tr);
    height: var(--navbar-top-height);
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .scrolled.nav-container {
    height: var(--navbar-scrolled-height);
  }
  
  .navbar-grid-left {
    grid-column: 1;
    transition: var(--tr);
    height: var(--navbar-top-height)
  }
  
  /* This style needs to exist so that the text buttons stay vertically centered */
  .scrolled.navbar-grid-left{
    height: var(--navbar-scrolled-height)
  }
  
  .navbar-grid-right {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
  }
  
  .logo {

    @media only screen and (min-width: 480px) {
      /* styles for devices with a minimum screen width of 480px */
      transition: var(--tr);
      margin-left: 2rem;
      margin-top: 1rem;
      height: var(--logo-top-height);
      border-radius: 50%;
      }
      
      @media only screen and (max-width: 480px) {
      /* styles for devices with a maximum screen width of 480px */
      transition: var(--tr);
      margin-left: 2rem;
      margin-top: 1rem;
      height: var(--logo-scrolled-height);
      border-radius: 50%;
      }

  }
  
  .scrolled.logo {
    height: var(--logo-scrolled-height);
    margin-top: 0.5rem;
  }
  
  .navbar-gradient {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--navbar-top-height) * 1.25);
  
    background: linear-gradient( #000000aa 0%, transparent 100%);
    transition: var(--tr);
    opacity: 100%;
  }
  
  .scrolled.navbar-gradient {
    height: var(--navbar-scrolled-height); /* remove this if it doesn't do anything */
    opacity: 0;
  }
  
  .navbar-link-bar {
    margin-top: 1px;
    background: white;
    border-radius: 1px;
    width: 100%;
    height:2px;
    transition: var(--tr);
    transform: scale3d(0, 1, 1);
    opacity: 50%;
  }
  
  .navbar-link:hover .navbar-link-bar {
    transform: scale3d(1, 1, 1);
    opacity: 100%;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  
  button {
    background-color: #003057;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 16px;
  }
  
  #footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--color-navyblue);
    color: white;
    text-align: center;
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    /* padding-bottom: 2.5rem; */
    color: var(--color-navyblue)
  }

  /* .img-nav {
    border-radius: 50%;
  } */

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .navigation-menu {
    margin-left: auto;
  }

  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  .navigation-menu li {
    /* removes default disc bullet for li tags and applies margin to left & right side */
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigation-menu li a {
    /* // increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .hamburger {
    /* // removes default border on button element÷ */
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }

  .hamburger:hover {
    background-color: #2642af;
  }