.projectsContainer {
    padding: 8% 15% 8% 15%;
    display: block;
}

.projectsTitle {
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    padding: 0% 25% 0% 25%;
    text-align: center;
}

.gradient_bg {
    @media only screen and (min-width: 480px) {
        /* styles for devices with a minimum screen width of 480px */
        background: rgb(135,182,255);
        background: linear-gradient(-45deg, rgba(135,182,255,1), rgba(255,249,202,1), rgba(255,255,255,1));
        background-size: cover;
        animation: gradient 10ms ease infinite;
        }
        
        @media only screen and (max-width: 480px) {
        /* styles for devices with a maximum screen width of 480px */
        background: black;
        }
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}